<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> -->

<body>  
  <section>
    <div class="container-fluid">
      <h2 style="text-align:center;margin-top:100px"><b>Edit User</b></h2>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="myform" (ngSubmit)="onsubmit()">
            
             <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Fullname </b></label>
                  <input type="text" id="fullname" formControlName="fullname" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.fullname.errors.required">Fullname is required</div>
                </div>
                </div>
              </div>
            </div>

            
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b>E-mail</b></label>
                  <input type="text" id="email" formControlName="email" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.email.errors.required">Email is required</div>
                            <div style="color:red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Password </b></label>
                  <input type="text" id="password" formControlName="password" maxlength="100" class="form-control">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.password.errors.required">Password is required</div>
                            <div style="color:red" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Role </b></label>
                  <input type="text" id="role" formControlName="role" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.role.errors.required">Role is required</div>
                </div>
                </div>
              </div>
            </div>

           
            <div class="row justify-content-center">
              <div class="form-group">
                <button style="margin-left:20px" type="submit" id="submit_btn" class="btn btn-primary"> Submit </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
<!-- </html> -->