<div class="container">
    <div class="row">
        <div class="col-md-12" *ngFor="let a of blogList">
            <p-card title="{{ a.title }}" [style]="{width: '1130px'}" styleClass="ui-card-shadow">
                <p-header>
                    <img src="{{a.imagePath}}" alt="">
                </p-header>
                <div innerHtml="{{ a.description }}"></div>
                <p-footer>
                    <p-dataScroller [value]="commentList" [rows]="2" [loader]="loadButton">
                <p-header>
                   <h2> Comments</h2> 
                </p-header>
                <ng-template let-user pTemplate="item">
                    <div class="user-item">
                  <div> <h4><b>By: {{user.userid.fullname}} </b></h4> </div>   
                  <div> <p-rating [ngModel]="user.rating" readonly="true" [cancel]="false"></p-rating></div>
                  <div><h5>{{user.comment}}</h5></div>
                  <div><h6>{{user.date | date:'fullDate'}}</h6></div>
                  <br>
                    </div>
                </ng-template>
                <p-footer>
                    <button #loadButton type="text" icon="pi pi-refresh" pButton label="Load"></button>
                </p-footer>
            </p-dataScroller>

                    <!-- <button pButton type="button" label="Read Blog" [routerLink]="['/user/blogDetail',a._id]" class="ui-button-raised ui-button-rounded" ></button>  -->
                </p-footer>
            </p-card>
            <!-- <h2>Comments</h2>
            <div class="col-md-12" *ngFor="let user of commentList">
                <h5><b>By: {{user.fullname}}</b></h5>
                <p-rating [ngModel]="user.rating" readonly="true" [cancel]="false"></p-rating>
                <h5>{{user.comment}}</h5>
                <h6>{{user.date | date:'fullDate'}}</h6>
                <hr>
            </div> -->
            <!-- <p-dataScroller [value]="commentList" [rows]="2">
                <p-header>Comments</p-header>
                 <p-footer>Choose from the list.</p-footer> 
                <ng-template let-user ptemplate="item">
                By: {{user.fullname}}
                <p-rating [ngModel]="user.rating" readonly="true" [cancel]="false"></p-rating>
                <h5>{{user.comment}}</h5>
                <h6>{{user.date | date:'fullDate'}}</h6>
                </ng-template>
            </p-dataScroller>  -->

            <br>
            <label> Rating </label>
            <p-rating [(ngModel)]="val"></p-rating>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-6">
                     <form name="comment-form">
                    <div class="form-group">
                        <label><b> Comment </b></label>
                        <textarea class="form-control" name="comment" id="comment" maxlength="300" rows="5"></textarea>
                    </div>
                

            <div class="form-group">
                <button style="margin-left:20px" type="submit" (click)="onSubmit()" class="btn btn-primary"> Submit </button>
            </div>
            </form>
        </div>
            </div>

        </div>
    </div>
</div>