<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  .card {
    margin-left: 57%;
    margin-right: 17%;
    margin-top: 40px;
    margin-bottom: 50px
  }

  button {
    margin-top: 10px
  }

  select {
    width: 100%
  }
</style>

<body>
  <div class="image">
  <div class="container-fluid">
    <h2 style="text-align:center;margin-top:100px;margin-left:500px"><b>Login</b></h2>
    <div class="card">

      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
          <div class="form-group">
            <label>E-mail*</label>
            <input type="text" class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div style="color:red" *ngIf="f.email.errors.required">Email is required</div>
              <div style="color:red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password*</label>
            <input type="password" class="form-control" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div style="color:red" *ngIf="f.password.errors.required">Password is required</div>
              <div style="color:red" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>