<div style="margin-top:80px" class="user-dashboard">
    <h1>Hello,{{username}}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">                      

    <p-chart type="line" [data]="data1" (onDataSelect)="selectData($event)"></p-chart>

    </div>
    <div class="col-md-12">              
        <p-chart type="doughnut" [data]="data"></p-chart>
    </div>
    </div>
</div>