header{padding-bottom: 30px}
label{margin-left: 10px;padding-right: 50px}
p{color: red}
.card-header{text-align: center;margin-bottom:20px}
.card-footer{text-align: right}
.card{margin-left:23%;margin-right: 17%;margin-top:50px;margin-bottom: 50px}
select{width:100%}

