header{text-align: center;padding-bottom: 30px;margin-top: 20px}
label{margin-left: 10px;padding-right: 50px}
p{color: red}
.card-header{text-align: center}
.card-footer{text-align: right}
.card{margin-left:25%;margin-right: 25%}
select{width:100%}
.hidden{display: none}
