
.topnav {
  overflow: hidden;
  background-color: #333;
  height: 60px
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:greenyellow;
  color: black;
}

#login_button{float: right;
    border-radius: 2px 2px black;
    margin-top:10px;
    margin-right: 30px
}

#logout_button{float: right;
    border-radius: 2px 2px black;
    margin-top:10px;
    margin-right: 30px;
    display: none;
}

#signup_button{float: right;
    border-radius: 2px 2px black;
    margin-top:10px;
    margin-right: 120px
}
  #password{color: red}

.first{background: lightgray;height:550px;margin-top: 0px}
.text h4{color:lightseagreen}
.text img{width:20%;padding-bottom: 50px;padding-top: 20px}
.btn1 button{background:blue;color:white;border:1px solid blue;border-radius: 5px;width:200px;height:40px}

.btn2 button{background: lightseagreen;color: white;border:1px solid lightseagreen;border-radius:5px;width:200px;height:40px; }
#demo {margin-top: 50px}
.text{margin-top: 50px}
.text h5{padding-top:25px;line-height: 30px}
.second{text-align: center}
.icons{display: inline-block;width:10%;margin-top:50px}
.para{display: inline-block;width:80%;margin-top: 40px}
.second h1{padding-top: 40px;margin-bottom: 50px}
.second h3{padding-top: 30px;color: blue }
.btn2{padding-left: 70px}
.modal a{margin-left: 85px}