
<!-- <div class="container-fluid">
    <div class="row">
  <div class="col-md-4" *ngFor="let a of products">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{a.imagePath}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p>{{ a.productcompanyname }}</p>
      <p class="card-text">{{ a.productdescription }}</p>
      <h4>{{ a.productcost }}₹</h4>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
<br>
<br>
</div>
</div>
</div> -->
<div class="container">
<div class="row">
<div class="col-md-4" *ngFor="let a of products">
<p-card title="{{ a.productname }}" subtitle="{{ a.productcompanyname }}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="{{a.imagePath}}" alt="">
    </p-header>
    <div>{{ a.productdescription }}</div>
    <h4>{{ a.productcost }}₹</h4>
    <p-footer>

<button pButton type="button" label="Add to Cart" class="ui-button-raised ui-button-rounded" (click)="onClick(a)" ></button> 
</p-footer>
</p-card>
<br>
<br>
</div>
</div>
</div>



<!-- <body>
<table style="margin-top:80px" id="table" class="table table-defaut">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Company</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Category</th>
                <th scope="col">Product Cost</th>
                <th scope="col">Product Image</th>
            </tr>
        </thead>
           <tbody>
              <tr *ngFor="let a of products">
              <td>{{ a.productname }}</td>
              <td>{{ a.productcompanyname }}</td>
              <td>{{ a.productdescription }}</td>
              <td>{{ a.productcategory }}</td>
              <td>{{ a.productcost }}</td>
              <td><img src= "{{a.imagePath}}" alt=""></td>
              <td><a [routerLink]="['/admin/editProduct',a._id]" class="btn btn-primary">Edit</a>  /
              <button (click)="deleteProduct(a._id)"  class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body> -->
