<!-- <body style="margin-top:80px">
<h1>Choose a particular blog to manage comment</h1>
<ul *ngFor="let a of blogs">
  <li>
    {{a.title}}
  </li>
</ul>
</body> -->

<p-table [value]="blogs" [style]="{'margin-top':'80px'}" [rows]="10" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
                <th scope="col">Blog Title</th>
                <th scope="col">operation</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-blog>
        <tr>
              <td>{{ blog.title }}</td>
              <td><a [routerLink]="['/admin/blogComment',blog._id]" class="btn btn-primary">Show Comments</a> </td>
        </tr>
    </ng-template>
</p-table>
