<p-confirmDialog ></p-confirmDialog>
<p-table [value]="users" [style]="{'margin-top':'80px'}" [rows]="10" [paginator]="true" [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
                <th scope="col">FullName</th>
                <th style="width: 150px" scope="col">E-mail</th>
                <th style="width: 550px" scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Operations</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
              <td>{{ user.fullname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
              <td>{{ user.role }}</td>
              <td><a [routerLink]="['/admin/edituser',user._id]" class="btn btn-primary">Edit</a>  /
              <button (click)="deleteUser(user._id)"  class="btn btn-danger">Delete</button></td>
        </tr>
    </ng-template>
</p-table>


 <!-- <body>
<table style="margin-top:80px" id="table" class="table table-defaut">
        <thead>
            <tr>
                <th scope="col">FullName</th>
                <th scope="col">E-mail</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
           <tbody>
              <tr *ngFor="let a of users">
              <td>{{ a.fullname }}</td>
              <td>{{ a.email }}</td>
              <td>{{ a.password }}</td>
              <td>{{ a.role }}</td>
              <td><a [routerLink]="['/admin/edituser',a._id]" class="btn btn-primary">Edit</a>  /
              <button (click)="deleteUser(a._id)"  class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>  -->
