header{padding-bottom: 30px}
label{margin-left: 10px;padding-right: 50px}
p{color: red}
.card-header{text-align: center}
.card-footer{text-align: right}
.card{margin-left:37%;margin-right: 23%;margin-top:40px;margin-bottom: 50px}
select{width:100%}
.image{
     height:49em; background-size:cover; width:auto;
     background-image:url('../../../../assets/images/first.jpg');
     background-position:50% 50%;
     color:#111
   }
