
<body>
  <div class="banner">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/images/banner1.jpg" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="assets/images/banner2.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="assets/images/banner3.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
  <div class="deals">
<div class="row">
  <div class="container-fluid">
    <h2 style="text-align:center">Hot Deals</h2>
    <br>
    <div class="col-md-4">
        <img src="assets/images/user1.jpg" width="100%" alt="">
    </div>
      <div class="col-md-4">
        <img src="assets/images/user2.jpg" width="100%" alt="">
    </div>
      <div class="col-md-4">
        <img src="assets/images/user3.jpg" width="100%" alt="">
    </div>  
  </div>  
</div>
  </div>
<br>
<br>
<div class="row">
  <img src="assets/images/user4.jpg" width="100%" alt="">
  </div>   
</body>
