.banner img{margin-top:-20px}
 footer{background: lightgray;height:70px;margin-top:50px;position: relative}
 footer h4{display:inline}
 footer ul{list-style-type: none;position: absolute;display: inline;left:990px;top:10px}
 footer ul li{float: left;border:1px solid lightgrey;background: lightgrey;padding:4px 8px;transition:0.9s}
 footer ul li:hover{transform: rotate(360deg)}
.banner img{width:100%;height:auto;position:relative}
.banner h1{position:absolute;top:25%;color:white;font-size: 52px;width:100%;text-align: center}
.banner h3{position:absolute;top:40%;color: white;font-size: 30px;width: 100%;text-align: center}
