<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/user/dashboard"><b>INDIA BACKPACK MOTORBIKES</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/user/dashboard">Home</a></li>
      <li><a routerLink="/user/blogs">Blogs</a></li>
      <li><a routerLink="/user/products">Products</a></li>
    </ul>
    <button style="float:right" class="btn btn-danger navbar-btn" (click)="logout()">Logout</button>
    <button style="float:right;margin-top:8px;margin-right:15px;padding:4px" routerLink="/user/cart" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</button>
    <p style="float:right;color:white;margin-top:15px;padding-right:25px">Hi, {{username}}</p>
  </div>
</nav>
</body>
</html>
