<p-confirmDialog ></p-confirmDialog>
<p-table [value]="products" [style]="{'margin-top':'80px'}" [rows]="5" [paginator]="true" [responsive]="true">
    <ng-template pTemplate="header">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Company</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Category</th>
                <th scope="col">Product Cost</th>
                <th scope="col">Product Image</th>
                <th scope="col">Operations</th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
              <tr>
              <td>{{ product.productname }}</td>
              <td>{{ product.productcompanyname }}</td>
              <td>{{ product.productdescription }}</td>
              <td>{{ product.productcategory }}</td>
              <td>{{ product.productcost }}</td>
              <td><img src= "{{product.imagePath}}" width="80%" alt=""></td>
              <td><a [routerLink]="['/admin/editProduct',product._id]" class="btn btn-primary">Edit</a>  /
              <button (click)="deleteProduct(product._id)"  class="btn btn-danger">Delete</button></td>
            </tr>
    </ng-template>
</p-table>
