<p-table [value]="commentList" [style]="{'margin-top':'80px'}" [rows]="4" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
                <th scope="col">Username</th>
                <th scope="col">Comment</th>
                <th scope="col">Rating</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-comment>
        <tr>
              <td>{{ comment.userid.fullname }}</td>
              <td>{{ comment.comment }}</td>
              <td><p-rating [ngModel]="comment.rating" readonly="true" [cancel]="false"></p-rating></td>
              <td>{{ comment.date | date:"medium" }}</td>
              <td><button (click)="deleteComment(comment._id)"  class="btn btn-danger">Delete</button> </td> 
        </tr>
    </ng-template>
</p-table>
