<p-confirmDialog ></p-confirmDialog>
<p-table [value]="blogs" [style]="{'margin-top':'80px'}" [rows]="2" [paginator]="true" [responsive]="true">
    <ng-template pTemplate="header">
            <tr>
                <th scope="col">Blog Title</th>
                <th scope="col">Blog Description</th>
                <th scope="col">Blog Image</th>
                <th scope="col">Operations</th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-blog>
              <tr>
              <td>{{ blog.title }}</td>
              <td> <div innerHtml = "{{ blog.description }}"></div></td>
              <td><img src= "{{blog.imagePath}}" alt="" width="80%"></td>
              <td><a [routerLink]="['/admin/editBlog',blog._id]" class="btn btn-primary">Edit</a>  /
              <button (click)="deleteBlog(blog._id)"  class="btn btn-danger">Delete</button></td>
            </tr>
   </ng-template>
</p-table>
