<body>  
  <section>
    <div class="container-fluid">
      <h2 style="text-align:center;margin-top:100px"><b>Edit Blog</b></h2>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="blogform" (ngSubmit)="onsubmit()">
            
             <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-group">
                  <label><b> Title </b></label>
                  <input type="text" id="title" formControlName="title" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                 <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                 <div style="color:red" *ngIf="f.title.errors.required">Title is required</div>
                </div> 
                </div>
              </div>
            </div>

             <!-- <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Description </b></label>
                  <textarea class="form-control" id="description" formControlName="description" maxlength="300" rows="5" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.description.errors.required">Title is required</div>
                </div>
                </div>
              </div>
            </div>
              -->
              <label><b> Description </b></label>
             <p-editor formControlName="description" [style]="{'height':'200px'}" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></p-editor> 
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.description.errors.required">Description is required</div>
                </div>

             <br>
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label style="margin-bottom:10px"><b>Upload Image</b></label>
                  <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
                </div>
              </div>
            </div>    
            
            
            <div class="row justify-content-center">
              <div class="form-group">
                <button style="margin-left:20px" type="submit" id="submit_btn" class="btn btn-primary"> Submit </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>