<div class="container">
<div class="row">
<div class="col-md-8" *ngFor="let a of cartList">


<p-card title="{{ a.productid.productname }}" subtitle="{{ a.productid.productcompanyname }}" [style]="{width: '1100px'}" styleClass="ui-card-shadow">
  <div class="col-md-4">
   <img src="{{a.productid.imagePath}}" width="60%" height="70%" alt="">  
  </div> 
  <div class="col-md-8"> 
    <div>Quantity: {{ a.quantity }}</div>
    <h4>Price: {{ a.productprice }}₹</h4>
  </div>
    <p-footer>
        
<button pButton type="button" label="Remove from Cart" (click)="deleteCart(a._id)" class="ui-button-raised ui-button-rounded ui-button-danger"></button> 
</p-footer>
</p-card>
<br>
<br>
</div>
</div>
</div>


