<div class="container">
<div class="row">
<div class="col-md-6" *ngFor="let a of blogs">
<p-card title="{{ a.title }}" [style]="{width: '500px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="{{a.imagePath}}" alt="">
    </p-header>
    <!-- <div innerHtml="{{ a.description }}"></div> -->
 <p-footer>

 <button pButton type="button" label="Read Blog" [routerLink]="['/user/blogDetail',a._id]" class="ui-button-raised ui-button-rounded" ></button> 
<h6>{{a.date | date:'fullDate'}}</h6>
</p-footer> 
</p-card>

<br>
<hr>
<br>

</div>
</div>
</div>
