<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>  
  <section>
    <div class="container-fluid">
        <h2 style="text-align:center;margin-top:100px"><b>Fill in the below product details</b></h2>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="productform" (ngSubmit)="onsubmit()">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b>Product Name</b></label>
                  <input type="text" id="productname" formControlName="productname" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productname.errors }" >
                        <div *ngIf="submitted && f.productname.errors" class="invalid-feedback">
                        <div style="color:red" *ngIf="f.productname.errors.required">Product Name is required</div>
                </div>

                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Company Name </b></label>
                  <input type="text" id="productcompanyname" formControlName="productcompanyname" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productcompanyname.errors }">
                   <div *ngIf="submitted && f.productcompanyname.errors" class="invalid-feedback">
                        <div style="color:red" *ngIf="f.productcompanyname.errors.required">Fullname is required</div>
                </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Product Description </b></label>
                  <input type="text" id="productdescription" formControlName="productdescription" maxlength="300" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productdescription.errors }" >
                  <div *ngIf="submitted && f.productdescription.errors" class="invalid-feedback">
                        <div style="color:red" *ngIf="f.productdescription.errors.required">Product Description is required</div>
                </div>

                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Product Category </b></label>
                  <select id="productcategory" formControlName="productcategory" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productcategory.errors }"> 
                  <option>standard bike</option>
                  <option>cruisers</option>
                  <option>sport bike</option>
                  <option>touring</option>
                  <option>off-road</option>
                  <option>scooter(Moped)</option>
                  </select>
                 <div *ngIf="submitted && f.productcategory.errors" class="invalid-feedback">
                        <div style="color:red" *ngIf="f.productcategory.errors.required">Product Category is required</div>
                </div>
                </div>
              </div>
            </div>


            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Product Cost </b></label>
                  <input type="number" id="productcost" formControlName="productcost" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productcost.errors }">
                                <div *ngIf="submitted && f.productcost.errors" class="invalid-feedback">
                        <div style="color:red" *ngIf="f.productcost.errors.required">Product Cost is required</div>
                </div>  
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label style="margin-bottom:10px"><b>Product Image</b></label>
                  <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
                </div>
              </div>
            </div>    
            
            <div class="row justify-content-center">
              <div class="form-group">
                <button type="submit" id="submit_btn" class="btn btn-primary"> Submit </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>